.light-rays-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.light-rays-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.custom-rays {
  opacity: 0.85;
}
